{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Fallido</title>
    <style>
        body { font-family: sans-serif; margin: 20px; text-align: center; }
        .error-message { color: red; }
    </style>
</head>
<body>
    <h1 class="error-message">El Pago Ha Fallado o Ha Sido Cancelado</h1>
    <p>Lo sentimos, no se pudo completar tu transacción.</p>
    <p>Por favor, intenta nuevamente o contacta con nosotros si el problema persiste.</p>
    <p><a href="/">Volver a la tienda e intentar de nuevo</a></p> {# Cambia "/" #}
</body>
</html>